<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>menu</title>
    <link rel="stylesheet" href="../CSS/menu.css" />
</head>
<body>
    <header>

    </header>
    <div class="main">
        <div class="container">
            <!--<ul class="flex-list">
        <li class="li1">アウトプット</li>
        <li class="li2">WBS</li>
        <li class="li3">メモ</li>
        <li class="li4">プロトタイプ</li>
    </ul>-->
            <a href="#" class="item box1">アウトプット</a>
            <a href="#" class="item box2">工事中</a>
            <a href="#" class="item box3">工事中</a>
            <a href="#" class="item box4">工事中</a>
            <a href="#" class="item box1">工事中</a>
            <a href="#" class="item box2">工事中</a>
            <a href="#" class="item box3">工事中</a>
            <a href="#" class="item box4">工事中</a>
        </div>
    </div>
</body>
</html>